<ul class="blog-posts">
  {% for post in include.posts %}
  <li class="highlight-title highlight--blog">
    <a href="{{ site.baseurl }}{{ post.url }}" title="View {{ post.title }}">
      <h4>{{ post.title }}</h4>
      <span class="post-date"><strong>Published:</strong> {{ post.date | date: "%b %-d, %Y" }}</span>
      {% if post.author %}<span class="post-author">By {{ post.author }}</span>{% endif %}
      {{ post.excerpt }}
    </a>
    <a class="read-more-link" href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
  </li>
  {% endfor %}
</ul>
