<div class="header-wrapper">
	<header class="site-header">
			<a href="/" class="site-logo" title="Home">
				<h1>Happy Jedi</h1>
			</a>
		<nav>
			<ul>
				<li  {% if page.url contains '/articles/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/articles">Articles</a></li>
                <li  {% if page.url contains '/notes/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/notes">Notes</a></li>
				<li  {% if page.url contains '/about/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li>
                <li  {% if page.url contains '/projects/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/projects">Projects</a></li>
				<li  {% if page.url contains '/contact/' %} class="active"{% endif %}><a href="{{ site.baseurl }}/contact">Hire Me</a></li>
			</ul>
		</nav>
	</header>
</div>
