<strong>Share this:</strong>
<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="button social" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official fa-2x"></i> </a>
<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="button social" rel="nofollow" target="_blank" title="Share on Twitter">
  <i class="fa fa-twitter-square fa-2x"></i>
</a>
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}" class="button social" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i> </a>
<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="button social" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
