---
layout: main
---

<main>
{% if page.banner %}
  <article class="image">
  <div class="image imgix-fluid-bg" data-src="{{ site.imgix.main_images }}{{ page.categories | join: "/" }}/{{ page.name }}/{{ page.banner }}.jpg"></div>
{% else %}
  <article>
{% endif %}
    <header>
      <h1>{{ page.title }}</h1>

      <div class="meta">
        <span>
          {% if page.is_post %}
            <strong>Published:</strong> {{ page.date | date: "%e %B %Y" }}
          {% else %}
            <strong>Last Updated:</strong> {{ page.date | date: "%e %B %Y" }}
          {% endif %}

          {% for tag in page.tags %}
            {% if forloop.first %}
              &middot; <strong>Tags:</strong>
            {% endif %}
            <a href="/tag/{{ tag }}" title="Index for {{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </span>
      </div>

      <p>{{ page.excerpt }}</p>
    </header>

    <section>
      {% assign series_posts = site.posts | where:"series",page.series %}
      {% if page.series %}
      <section id="series-introduction">
        <p>This post is part of the {{ series_posts | size | apnumber }} part series <em>{{ site.series[page.series].title }}</em>. To see more from this series <a href="#series-information">check the series index</a>. </p>
      </section>
      {% endif %}

      {{ content }}

      {% if page.series %}
      <section id="series-summary">
        <h2 id="series-information">More from the <em>{{ site.series[page.series].title }}</em> series</h2>

        <p>This post is part of the {{ series_posts | size| apnumber }} part series <em>{{ site.series[page.series].title }}</em>. {% if site.series[page.series].complete == false %}This series is not yet complete; the published parts are:{% endif %}</p>

        <ol>
          {% for post in series_posts reversed %}
          <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>: <em>{{ post.excerpt }}</em></li>
          {% endfor %}
        </ol>
      </section>

        {% if site.series[page.series].footer %}
          <section id="series-footer">
            {% include series_footer_{{ page.series }}.html %}
          </section>
        {% endif %}
      {% endif %}
    </section>

    <footer>
      <p>Got something you'd like to say? Find me on <a href="https://www.facebook.com/profile.php?id=100011351259791" title="@happyjedi on Facebook" target="_blank">Facebook</a>, or <a href="mailto:happy.jedi.g@gmail.com" title="Email Victor Vinogradov">drop me an email</a>.</p>
    </footer>
  </article>
</main>
