---
layout: page
title: Sorry, this page cannot be found
excerpt: An error 404 has occurred, which means this page has been moved or no longer exists.
---

<p>You might enjoy some of my recent notes entries below, or taking a peek at my <a href="/projects" title="A portfolio of some of my recent works">portfolio</a>. Otherwise, why not <a href="mailto:happy.jedi.g@gmail.com" title="Email Victor Vinogradov">drop me an email</a> to see if I can help. </p>

<div class="columns-2 post-list-excerpt">
  <h3>Suggested Reading</h3>
  <br>

  <div class="col">
    {% for post in site.categories.articles limit:2 %}
       <a href="{{ site.base_url }}{{ post.url }}">
        <h4>{{ post.title }}</h4>
      </a>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span><br />
      <span class="excerpt">{{post.excerpt}}</span>
    {% endfor %}
  </div>
  <div class="col">
    {% for post in site.categories.notes limit:2 %}
      <a href="{{ site.base_url }}{{ post.url }}">
        <h4>{{ post.title }}</h4>
      </a>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span><br />
      <span class="excerpt">{{post.excerpt}}</span>
    {% endfor %}
  </div>
</div>
