.header-wrapper {
	background:  $light-dark;
}

header {
	color: white;
	text-align: center;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding-top: .5em;
	background-color: $dark;
	a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		transition: .3s color ease;
		&:hover, &:focus {
			color: $gold;
			h1 span {
				color: white;
			}
		}
	}
	@media screen and (min-width:600px) {
		text-align: left;
		padding-bottom: .5em;
		padding-left: 1.5em;
		display: -webkit-flex;
		display: flex;
		overflow: hidden;
	}
}

.site-logo {
	max-width: 60px;
	min-width: 60px;
	min-height: 60px;
	max-height: 60px;
	padding: 1em;
	padding-top: .5em;
	display: block;
	margin: 0 auto;

	border-bottom: 1px solid #666;
	border-radius: 5rem;
	background: #333 url('/apple-touch-icon.png') center center no-repeat;
	background-size: cover;
	width: 3rem;
	height: 3rem;
	top: 50%;
	left: 0;

	h1 {
		margin-left: 4rem;
		text-align: center;
		font-size: 1.1rem;
		color: #ffffff;
		text-transform: none;
		text-decoration: none;
		//font-family: "source-sans-pro", "Helvetica", sans-serif;
	}

	@media screen and (min-width:600px) {
		padding-left: 0;
		padding-top: 1em;
		margin-left: 0;

	}
}
