// Typography
$sans-serif: "source-sans-pro", "Helvetica", sans-serif;
$serif: "yrsa", "georgia", serif;

// Colors

$light-blue: rgb(0,109,146);
$dark-blue: rgb(2,79,105);
$gold: rgb(255,208,38);
$gray: rgb(74,74,74);
$green: rgb(169,201,134);
$light-yellow: #D39C4A;
