// Typography
$sans-serif: "source-sans-pro", "Helvetica", sans-serif;
$serif: "yrsa", "georgia", serif;

// Colors

$light-blue: rgb(0,109,146);
$dark-blue: rgb(2,79,105);
$gold: rgb(255,208,38);
$gray: rgb(74,74,74);
$light-gray: #ECEBEB;
$green: rgb(169,201,134);
$light-yellow: #D39C4A;

$dark: rgba(0, 0, 0, 1);
$light-dark: rgba(0,0,0,0.8);

$dark-font: #333333;
$links-blue: #1A8BE2;

